{% extends '::base.html.twig' %}

{% block body -%}
    <h1><small>EVALUACIÓN</small></h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Asignatura</th>
                <td>{{ entity.asignatura }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evaluacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
