{% extends '::base2.html.twig' %}

{% block title %}Editar-Ejercicio{% endblock %}

{% block body -%}
	{% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success text-center">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1><small>EDITAR EJERCICIO</small></h1>
    <div class="text-right">
    	<button type="button" id="cancelarEvaluacion"  class=" pull-right btn btn-danger"><span class="glyphicon glyphicon-eye-close"></span><a  style='text-decoration:none;color:white;' href="{{ path('ejercicio') }}"> CANCELAR </a></button>
		<br/><br/>	
    </div>
    {{ form_start(edit_form) }}
    	{{ form_row(edit_form.descripcion) }}
    	<br/>
    	<div class="row">
	    	<div class="col-lg-4">
			    <div class="form-group">
			        {{ form_label(edit_form.componente) }}
			        {{ form_errors(edit_form.componente) }}
			        {{ form_widget(edit_form.componente, { 'attr': {'class': 'form-control'} }) }}
			    </div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
			        {{ form_label(edit_form.visibilidad) }}
			        {{ form_errors(edit_form.visibilidad) }}
			        {{ form_widget(edit_form.visibilidad, { 'attr': {'class': 'form-control'} }) }}
			    </div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<div class="form-group">
				        {{ form_label(edit_form.complejidades) }}
				        {{ form_errors(edit_form.complejidades) }}
				        {{ form_widget(edit_form.complejidades, { 'attr': {'class': 'form-control'} }) }}
	    			</div>
	    		</div>
	    	</div>
		</div>

		<div class="row">
	    	<div class="col-lg-6">
	    		<div class="form-group">
			        {{ form_label(edit_form.unidad) }}
			        {{ form_errors(edit_form.unidad) }}
			        {{ form_widget(edit_form.unidad, { 'attr': {'class': 'form-control'} }) }}
			    </div>
			</div>
			<div class="col-lg-6">
				<div class="form-group" id="subtema">
			        {{ form_label(edit_form.subtema) }}
			        {{ form_errors(edit_form.subtema) }}
			        {{ form_widget(edit_form.subtema, { 'attr': {'class': 'form-control'} }) }}
			    </div>
			</div>
		</div>

	    {{ form_row(edit_form.solucion) }}
	    <br/>
	    
	    <div class="text-center">
	    	<button type="submit" class="btn btn-primary btn-lg"> 
            	<span class="glyphicon glyphicon-wrench"></span> Editar
        	</button>

        	<button type="button" id="cancelarEvaluacion"  class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-eye-close"></span><a  style='text-decoration:none;color:white;' href="{{ path('ejercicio') }}"> CANCELAR </a></button>
		</div>

		<div style="display:none">
			{{ form_rest(edit_form) }}
		</div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			//$("#subtema").hide();
			
			var $unidad = $('#{{ edit_form.unidad.vars.id }}'); 
		    var $form = $unidad.closest('form');
		    //recargar_subtema($unidad);

		    $("#appbundle_ejercicio_componente").select2();
		    $("#appbundle_ejercicio_unidad").select2();
		    $("#appbundle_ejercicio_visibilidad").select2();
		    $("#appbundle_ejercicio_complejidades").select2({
			   placeholder: "Seleccione complejidad",
			   allowClear: true
			});

		    // cada vez que el usuario cambie la unidad en el select
		    $unidad.on('change', function() {
		    	recargar_subtema($unidad);
		    });

		    function recargar_subtema($unidad){
		    	// creamos la data, solo con el campo unidad,
		        // ya que es el dato relevante en este caso.
		        var data = $unidad.serialize();

		        // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
		        // del listener AddStateFieldSubscriber,
		        // y actualizará el campo subtema, con los subtemas de la unidad seleccionada.
		        $.ajax({
		            url : "{{ path('ejercicio_create')}}",
		            type: "POST",
		            data : data,
		            success: function(html) {
		            	$("#subtema").show();
		                // la variable html representa toda la página junto con el select de subtema.
		                // el cual tomamos y colocamos para reemplazar el select actual.
		                $('#{{ edit_form.subtema.vars.id }}').replaceWith($(html).find('#{{ edit_form.subtema.vars.id }}'));
		            }
		        });
		    }
		});
	</script>
{% endblock %}
